<h2>member page</h2>

<p><%= @member.first_name %> <%= @member.last_name %> <br><%= @member.specialization %></p>


<button type="button" name="button"><a href="/team/:id">Return to team overview</a></button>
