<!-- content of the tile of a team -->
<h3>Enrolled team members</h3>

  <ul>
    <% @team.persons().each() do |person| %>
      <li><%= person.first_name() %> <%= person.last_name() %>:  <%= person.specialization() %></li>
    <% end %>
  </ul>

  <a href="/teams/<%= @team.id%>/members/new">Add a new member</a>
  <a href="/">Return to Main Page</a>
