<h3>Please fill-in the following form</h3>

<form action="/teams" method="post">
  <label for="name">Name team<input id="name" name="name" type="text"></label>
  <label for="project">Project name<input id="project" name="project" type="text"></label>

  <button type="submit">submit team</button>
</form>
